.signup-form {
  height: 29rem;
}
.signup-form h1 {
  color: var(--pcolor);
  margin-top: 5rem;
  font-size: 2.25rem;
  font-weight: 800;
  width: 389px;
  height: 67px;
}
.signup-form form {
    width: 26rem;
    height: 27.30344rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}